* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

h4 {
  background: #404040;
  color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
}

.code-base {
  background-image: url("img/background-terminal.png");
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: flex-end;
}

.framework-container {
  margin-top: 60px;
  padding: 0;
  max-width: 100%;
  width: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

.variables-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #404040;
  margin-bottom: 12px;
  padding: 8px;
}

.functions-declare {
  margin-bottom: 12px;
  margin: 8px;
}

.function {
  background-color: #404040;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.keyboard-container {
  margin-right: 30px;
}

.arrow-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas {
  margin-top: 15px;
  color: whitesmoke;
  font-size: 15rem;
}

button {
  background: none;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #3700b3;
}

.btn {
   margin-bottom: 12px;
}

.active {
  background-color: #3700b3;
  color: white;
}

.eyetrack-container {
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  border-radius: .4rem;
  display: flex;
  justify-content: space-between;
}

.eyetrack-flex {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  height: fit-content;
}

.danger {
  color: black;
  background-color: firebrick;
}

.danger:hover {
  background-color: red;
  color: white;
}
