* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

h4 {
  background: #404040;
  color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
}

.code-base {
  background-image: url("img/background-terminal.png");
  width: 100%;
  height: 1500px;
}

.framework-container {
  margin-top: 90px;
  width: 700px;
  position: absolute;
  background-color: #282c34;
}

.variables-container {
  background-color: #404040;
  padding: 8px;
}

.functions-container {
  margin-bottom: 12px;
  margin: 8px;
  border: 1px solid #404040;
}

.function-padding {
  margin-right: 25px;
}

.function-card {
  background-color: #404040;
  margin: 10px;
}

.keyboard-container {
  margin-right: 30px;
}

.fas {
  margin-top: 15px;
  color: whitesmoke;
  font-size: 10rem;
  margin-left: 15px;
}

button {
  background: none;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #3700b3;
}

.off-btn {
   margin-bottom: 12px;
   border: 2px solid black;
}

.active {
  background-color: #3700b3;
  color: white;
}

.delete-mode-container {
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  border-radius: .4rem;
}

.delete-mode-flex {
  background-color: #404040;
  height: fit-content;
  margin-top: 12px;
}

.danger-btn {
  color: white;
  border: 2px solid black;
}

.danger-btn:hover {
  background-color: red;
  color: white;
}
